{% extends "IronWebBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Articles{% endblock title %}

{% block body %}

    <h2>{{ article.title }}</h2> 

    {{ form_start(edit_form) }}    
    <div class="col_md-12">       
        {% include "IronWebBlogBundle:article:edit_form.html.twig" %}        
    </div>
    <div class="form-actions">
        <a href="{{ path('iron_web_blog_article_index') }}" class="btn btn-primary">Back to the list</a> 
        <input type="submit" class="btn btn-success" value="Edit"/>
        <a href="{{ path('iron_web_blog_article_delete', { 'id': article.id }) }}" class="btn btn-danger">Delete</a> 
    </div>
    {{ form_end(edit_form) }}
    
{% endblock %}